<div class="text-center contact-container mt40 pt40 pb40">
    <h2 class="text-center brown underlined pb40">Direct Contact</h2>
    <div class="information">
        <h2 class="mb20">Phone</h2>
        <div class="mb20">
            <p class="mb10">USA Toll Free: {{contactUsDir.contact.uSAPhone}} </p>
            <p>ARG Phone: {{contactUsDir.contact.aRGPhone}}</p>
        </div>
        <h2 class="mb20">Email</h2>
        <div class="mb20">
            <a href="mailto:{{contactUsDir.contact.email}}">{{contactUsDir.contact.email}}</a>
        </div>
        <h2 class="mb20">Address</h2>
        <div>
            <p>{{contactUsDir.contact.address}}</p>
        </div>
    </div>
</div>
