<div ng-repeat="spec in specDir.specList">
    <div class="text-container" ng-class="{'odd' : spec.background == 'odd'}">
        <h2 class="mt40 pt40 text-center">{{spec.title}}</h2>
        <div class="row center-margin">
            <div ng-if="spec.background == 'odd'">
                <div class="display-inline text-center content-text">
                    <p>{{spec.description}}
                    </p>
                </div>
                <div class="display-inline text-center">
                    <img ng-src="{{spec.imgSrc}}" alt="{{spec.imgAlt}}" />
                </div>
            </div>
            <div ng-if="spec.background == 'white'">
                <div class="display-inline text-center">
                    <img ng-src="{{spec.imgSrc}}" alt="{{spec.imgAlt}}" />
                </div>
                <div class="display-inline text-center content-text">
                    <p>{{spec.description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>